@value medium, large from 'styles/breakpoints.css';

.hero {
  height: 100vh;
  min-height: max(45rem, 100vh);
  width: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--primary);
  background-color: var(--primary);
  background: conic-gradient(
    var(--red) 16.666%,
    var(--orange) 16.666%,
    var(--orange) 33.333%,
    var(--yellow) 33.333%,
    var(--yellow) 50%,
    var(--green) 50%,
    var(--green) 66.666%,
    var(--purple) 66.666%,
    var(--purple) 83.333%,
    var(--blue) 83.333%
  );
  background-size: 200% 100%;
  background-repeat: repeat;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 4.5vw;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;

  padding: 0 1rem;
  margin: 1rem auto;
  width: 100%;
}

.links > a {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none;
  transition: transform 0.2s;
}

.links > a:hover {
  transform: scale(1.2);
}

.icon {
  height: 2rem;
  width: auto;
}

@keyframes rainbow-text-animation {
  0% {
    background-size: 50% 100%;
  }
  20% {
    background-size: 50% 100%;
  }
  100% {
    background-size: 200% 100%;
  }
}

@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 200% 100%;
  }
  20% {
    background-size: 50% 100%;
  }
  100% {
    background-size: 50% 100%;
  }
}

@media (medium) {
  .subheading {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .links {
    gap: 2rem;
  }
}

@media (large) {
  .hero {
    background: conic-gradient(
      var(--red) 16.666%,
      var(--orange) 16.666%,
      var(--orange) 33.333%,
      var(--yellow) 33.333%,
      var(--yellow) 50%,
      var(--green) 50%,
      var(--green) 66.666%,
      var(--blue) 66.666%,
      var(--blue) 83.333%,
      var(--purple) 83.333%
    );
    background-size: 50% 100%;
    will-change: animation;
    animation: rainbow-text-animation-rev 0.5s ease forwards;
  }

  .hero:hover {
    animation: rainbow-text-animation 0.5s ease forwards;
  }
}

@media (prefers-reduced-motion) {
  .hero {
    animation: none;
  }

  .hero:hover {
    animation: none;
  }
}
