@value medium, large, xLarge from 'styles/breakpoints.css';

.box {
	width: 60vw;
	height: 60vw;
	border: 3px solid var(--black);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-weight: normal;
	margin: 0;
}

.name {
	font-family: var(--ailerons-regular);
	font-size: 20vw;
}

@media (medium) {
	.box {
		width: 20rem;
		height: 20rem;
	}

	.name {
		font-size: 6rem;
	}
}

@media (large) {
	.box {
		width: 30rem;
		height: 30rem;
	}

	.name {
		font-size: 8rem;
	}
}
