@value medium, large, xLarge from 'styles/breakpoints.css';

.box {
  width: 60vw;
  height: 60vw;
  max-width: 250px;
  max-height: 250px;
  border: 3px solid var(--black);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  margin: 0;
}

.name {
  font-size: 56px;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

@media (medium) {
  .box {
    width: 300px;
    height: 300px;
    max-width: none;
    max-height: none;
  }

  .name {
    font-size: 72px;
    line-height: 76px;
  }
}

@media (large) {
  .box {
    width: 350px;
    height: 350px;
  }

  .name {
    font-size: 84px;
    line-height: 88px;
  }
}
