.arrowButton {
  border: 2px solid var(--black);
  color: var(--black);
  padding: 2px 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.2s;
  cursor: pointer;
}

.arrowButton:hover {
  transform: scale(1.1);
}
