@font-face {
  font-family: 'Ailerons Regular';
  src: url(/fonts/Ailerons-regular.woff2) format('woff2'),
    url(/fonts/Ailerons-regular.woff) format('woff');
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: 'Montserrat';
  src: url(/fonts/Montserrat-variable-font.woff2) format('woff2'),
    url(/fonts/Montserrat-variable-font.woff) format('woff');
  font-weight: 400;
  font-display: auto;
}
